<div class="container">
  <h1>Stupid coaching</h1>
  <div class="question">
    <p><%= @question %></p>
    <p>- <em>You</em></p>
  </div>
  <div class="answer">
    <p><%= @answer %></p>
    <p>- <em>coach</em></p>
  </div>
  <%= link_to "Ask a new question", '/ask' %>
</div>

